<h1> Word List </h1>
<table id="words" class="display" data-source="<%= words_url(format: "json") %>">
  <thead>
    <tr>
      <th> Name</th>
      <th>Meaning</th>
      <th>Synonym</th>
      <th>Context</th>
      <th>Root</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


